
@{
    ViewBag.Title = "Home Page";
}

@section head{
    <link href="~/Content/css/index.css" rel="stylesheet" />
}

<div class="header">
    <div class="header-content">
        <div class="navbar-wrap">
            <div class="row">
                <div class="col-md-6">
                    <div class="navbar-brand" style="color:white"><h2>PurchaSaler</h2></div>
                </div>
                <div class="col-md-6">
                    <div class="funbo">
                        <a href="/Home/index">首页</a>
                        <a href="#">我的置闲</a>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="area-avatar">
            <img src="~/Content/img/default_avatar.png" class="avatar" />
            <div class="loginbt"><a href="/User/Login" style="text-decoration:none">请登录</a></div>
            <div><a href="#" style="text-decoration:none">免费注册</a></div>
        </div>*@
        @Html.Partial("_PartialAvatar")

    </div>
</div>

<div class="area-content">
    <div class="ctrl-warp">
        <div class="row">
            <div class="col-sm-8">
                <div class="search-bar">
                    <input type="text" placeholder="请输入关键字搜索" value="" />
                    <button>搜索</button>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/Content/img/add.png" style="width:56px;height:56px" />
                <p><a id="issue" href="/Home/AddGoods" style="text-decoration:none">发布置闲</a></p>
            </div>
        </div>
    </div>

    <div class="category">
        <a href="" class="item">生活百货</a>
        <a href="" class="item">手机数码</a>
        <a href="" class="item">书籍</a>
        <a href="" class="item">男装</a>
        <a href="" class="item">女装</a>
        <a href="" class="item">服饰配件</a>
        <a href="" class="item">电器</a>
        <a href="" class="item">美妆</a>
        <a href="" class="item">游戏装备</a>
        <a href="" class="item">游戏交易</a>
        <a href="" class="item">水果零食</a>
    </div>

    <div class="goods">
        <div class="row">
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/ex1.jpg" />
                <div class="info">
                    <div class="desc"><p> 余潇潇春装2018新款简单大方轻盈网纱连衣裙丝滑… 颜色分类雅致灰-预售15个工作日,尺码M</p></div>
                    <div class="price">
                        <p>￥50</p>
                    </div>
                    <hr style="margin:5px 0 5px 0" />
                    <div class="saler">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/O1CN01JFIFk01OKgddI0Qnr_!!0-fleamarket.jpg" />
                        <p class="user-name" style="display:inline">七***6</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>