.Addform {
    margin: 150px;
    text-align: center
}

.Addform .title input {
    width: 60%;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
}

.Addform .describe input {
    width: 60%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.photo img {
    width: 150px;
    height: 150px;
    border: 1px solid #ffd800
}

.Addform .btn {
    margin: 20px
}
