@model Models.Shop

@{
    ViewBag.Title = "AddShop";
    int userid = int.Parse(@Session["UserID"].ToString());
}
    <form action="/Shop/AddShop" method="post">
        <h2>添加店铺</h2>
        <h2>userid:@Session["UserID"]</h2>
        <div class="shopname">
            @Html.TextBoxFor(s=>s.ShopName,new {placeholder="输入你的商铺名" })
        </div>
        <div class="btn"><input type="submit" name="sub" value="确认添加" /></div>
    </form>