@if (Session["UserName"] != null)
{
    <li>
        <a href="#" style="color:#f22e00">@Session["UserName"]</a>
        <ul class="nav dropdown-content">
            <li><a href="@Url.Action("UpdateUserInfo","User",new { UserID=Convert.ToInt32( Session["UserID"])})">修改个人资料</a></li>
            <li><a href="/User/Logout">注销</a></li>
        </ul>
    </li>

}
else
{
    <li><a href="/User/Login">亲，请登录</a></li>
    <li><a href="/User/Register">免费注册</a></li>
}
@*@if (Session["UserName"] != null)
{

    <li><a href="#">订单</a></li>
    <li>
        <a href="@Url.Action("ShopCart","Mall",new { UserID=Session["UserID"]})">购物车</a>
    </li>
    <li><a href="#">收藏夹</a></li>
}
else
{
    <li>
        <a onclick="confirm('请先登录')?location.href='@Url.Action("Login", "User")':''" href="javascript:;">订单</a>
    </li>*@