
@{
    ViewBag.Title = "Login";
}
@section head{
    <link href="~/Content/css/login.css" rel="stylesheet" />
}


<div class="container">
    <div class="row">
        <div class="col-3"></div>

        <div class="col-lg-6 form-box">
            <div class="form-top"><h1><strong>登陆</strong></h1></div>
            <div class="form-bottom">
                <form role="form" action="" method="post" class="login-form">
                    <div class="form-username item">
                        <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
                    </div>
                    <div class="form-password item">
                        <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                    </div>
                    <button type="submit" class="btn item">登陆</button>
                </form>
            </div>
        </div>

        <div class="col-3"></div>

    </div>
</div>
