@model Models.User
@{
    ViewBag.Title = "Register";
}
@section head{
    <link href="~/Content/css/register.css" rel="stylesheet" />
}


<div class="container">
    <div class="row">
        <div class="col-3"></div>

        <div class="col-lg-6 form-box">
            <div class="form-top"><h1><strong>注册</strong></h1></div>
            <div class="form-bottom">
                <form role="form" action="" method="post" class="login-form">
                    <div class="form-username item">
                        @Html.TextBoxFor(user => user.UserName, new { placeholder = "请输入用户名", @class = "form-username form-control", @id = "form-username" })
                    </div>

                    <div class="item">
                        @Html.TextBoxFor(user => user.Tel, new { placeholder = "请输入手机号", @class = "form-control" })
                    </div>

                    <div class="item">
                        @Html.TextBoxFor(user => user.Email, new { placeholder = "请输入邮箱", @class = "form-control" })
                    </div>

                    <div class="form-password item">
                        @Html.PasswordFor(user => user.Password, new { placeholder = "请输入密码", @class = "form-password form-control", @id = "form-password" })
                    </div>

                    <div class="form-password item">
                        <input type="password" name="confirmPsw" value="" placeholder="请再次输入密码"class="form-control" />
                    </div>
                    <button type="submit" class="btn item">注册</button>
                </form>
            </div>
        </div>

        <div class="col-3"></div>

    </div>
</div>
