
@{
    ViewBag.Title = "UserCenter";
}
@section head{
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/css/usercenter.css" rel="stylesheet" />
}

<div class="wrapper uc-router">
    <ul>
        <li><a href="/Home/Index">首页</a></li>
        <li><span class="divider"></span></li>
        <li><span>个人中心</span></li>
    </ul>
</div>

<div class="wrapper">
    <div class="uc-main clearfix">
        <div class="uc-aside">
            <div class="uc-menu">

                <div class="tit">订单中心</div>
                <ul class="sublist">
                    <li><a href="uc-order.html">我的订单</a></li>
                    <li><a href="">我的收藏</a></li>
                    <li><a href="uc-footprint.html">浏览历史</a></li>
                </ul>

                <div class="tit">客户服务</div>
                <ul class="sublist">
                    <li><a href="">取消订单记录</a></li>
                    <li><a href="uc-refund.html">退款/退货</a></li>
                </ul>

                <div class="tit">账户中心</div>
                <ul class="sublist">
                    <li><a class="active" href="">账户信息</a></li>
                    <li><a href="">账户安全</a></li>
                    <li><a href="">消费记录</a></li>
                    <li><a href="uc-address.html">收货地址</a></li>
                </ul>

                <div class="tit">消息中心</div>
                <ul class="sublist">
                    <li><a href="">商品评价</a></li>
                    <li><a href="">站内消息</a></li>
                </ul>
            </div>
        </div>
        <div class="uc-content">
            <div class="uc-panel">
                <div class="uc-bigtit">个人信息</div>
                <div class="uc-panel-bd">
                    <div class="account-info clearfix">
                        <div class="col-headpic">
                            <div class="pic-wrap">
                                <div class="label">头像</div>
                                <div class="picbox">
                                    <img src="img/uc/headpic.jpg" alt="" />
                                </div>
                                <a class="edit" href="">修改头像</a>
                            </div>
                        </div>
                        <div class="col-userinfo">
                            <div class="control-group">
                                <div class="hd">真实姓名：</div>
                                <div class="bd"><input class="ui-txtin" type="text" name="" value="天使溜溜了" /></div>
                            </div>
                            <div class="control-group">
                                <div class="hd">昵称：</div>
                                <div class="bd"><input class="ui-txtin" type="text" name="" value="天使溜溜了" /></div>
                            </div>
                            <div class="control-group">
                                <div class="hd">生日：</div>
                                <div class="bd"><input class="ui-txtin" type="text" name="" id="birthday" /></div>
                            </div>
                            <div class="control-group">
                                <div class="hd">性别：</div>
                                <div class="bd">
                                    <label class="check"><input type="radio" name="sex" />男</label>
                                    <label class="check ml25"><input type="radio" name="sex" />女</label>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="hd">电话：</div>
                                <div class="bd"><input class="ui-txtin" type="text" name="" /></div>
                            </div>
                            <div class="control-group">
                                <div class="hd">所在地：</div>
                                <div class="bd">
                                    <select name="" class="ui-txtin" style="width: 100px;"></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="hd">详细地址：</div>
                                <div class="bd"><input class="ui-txtin" type="text" name="" /></div>
                            </div>
                            <div class="control-group">
                                <div class="hd">邮箱：</div>
                                <div class="bd">
                                    <div class="text-black">12345677899@qq.com <a class="edit-btn" href="">修改</a></div>
                                </div>
                            </div>
                            <div class="control-submit">
                                <input class="ui-btn-theme submit" type="submit" value="确认" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
